.fw {
    border-color: black;
    border-width: 2px;
    border-style: groove;
    border-radius: 15px;
    background-color: aqua;
    margin: 3px;
    animation-name: jp;
    animation-duration: 1s;
}

.fw2 {
    margin: 10px;
}

@keyframes jp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
